body {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
}

form {
    width: 395px;
    border: 3px solid rgb(243 237 237);
    padding: 20px;
    background: white;
    border-radius: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th ,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #ccc;
    width: 98%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: black;
    font-size: 18px;
    padding: 2px;
}

button {
    float: right;
    background: rgb(35, 174, 202);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover{
    opacity: 0.5;
}
.reg{
margin-left: 0px;
margin-top: 0px;
}

.error {
   background: #F2DEDE;
   color: #0c0101;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}
  .school-name {
    float: left;
  }

  .logout-link {
    float: right;
    margin-right: 40px;
    color: black;
    text-decoration: none;
  }
  .addnew{
    margin-left:20px;

  }
  .search{
    margin-left: 20px;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    width: 100%;
    padding-top: 16px;
    border-color:gray;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 99;
    background-color:#f1f1f1;
    box-shadow: 2px 3px 2px #dad5d5;
}
.view{
    margin-right: 59px;
    margin-top: 244px;
    border-radius: 16px;
    width: 400px;
}